<div class="hover-tile-outer" {{bind-attr style="style"}} {{action "enqueue"}}>
  {{#if queueable}}
    <div class="hover-tile-container">
      <div class="hover-tile hover-tile-visible"></div>
      <div class="hover-tile hover-tile-hidden">
        <h4>Add to Queue</h4>
      </div>
    </div>
  {{/if}}
</div>
<div class="info">
  <strong>{{name}}</strong>
  <small>{{seconds-to-time duration}}</small>
  {{#each artist in artists}}
    {{#link-to "search" artist.search}}
      {{artist.name}}
    {{/link-to}}
  {{/each}}
</div>
