<div class="album-cover pull-left">
  <img class="media-object" {{bind-attr src=imageUrl}}>
  {{#if canEnqueue}}
    <div class="enqueue" {{action 'enqueue'}}>
      <i {{bind-attr class=":fa :fa-plus enqueueing:fa-spin"}}></i>
    </div>
  {{/if}}
</div>
<div class="media-body">
  <h4 class="media-heading">{{title}} <small>{{seconds-to-time duration}}</small></h4>
  <p>
    <strong>{{artistNames}}</strong><br/>
    {{albumTitle}}<br/>
  </p>
</div>
