<div id="top-bar">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3">
        {{#link-to "application" classNames="topbar-brand"}}
          <img src="/AppIcon76x76@2x.png">
          <span class="hidden-xs">Spotbot</span>
        {{/link-to}}

        <div class="btn-group pull-right topbar-controls">
          <button {{action 'play'}}class="btn btn-default "><i class=" fa fa-play"></i></button>
          <button {{action 'pause'}}class="btn btn-default "><i class=" fa fa-pause"></i></button>
          <button {{action 'next'}}class="btn btn-default "><i class=" fa fa-step-forward"></i></button>
          <button {{action 'random'}} {{bind-attr class=":btn :btn-default isShuffle:active"}}>
            <i {{bind-attr class=":fa isChangingShuffle:fa-spin isChangingShuffle:fa-spinner:fa-random"}}></i>
          </button>
        </div>
      </div>

      <div class="col-xs-12 col-sm-2">
        <div class="topbar-form">
          <div class="form-group">
            {{input class="" value=displayVolume type='range' min="0" max="100"}}
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-3 col-md-4">
        {{outlet "current-track"}}
      </div>

      <div class="col-xs-12 col-sm-2 col-lg-3 topbar-form" role="search">
        <div class="form-group">
          {{input class="form-control form-block" value=query placeholder="Search…" action='search'}}
        </div>
      </div>
    </div>
  </div>
</div>

<div id="content" class="container">
  {{#if ajaxError}}
    <div class="row">
      <div class="col-xs-12">
        <div class="alert alert-warning" role="alert">
          <button {{action 'closeAlert'}} type="button" class="close">&times;</button>
          <strong>Sorry!</strong> Could not connect to the player.
        </div>
      </div>
    </div>
  {{/if}}

  {{outlet}}
</div>

