<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
        <li class="nav-link">
          {{#if playing}}
            <button class="ion-pause" {{ action "pause"}}></button>
          {{else}}
            <button class="ion-play" {{ action "play"}}></button>
          {{/if}}
          <button class="ion-ios-skipforward" {{ action "next"}}></button>
        </li>
      </ul>
    </nav>

    <ul class="current-track">
      {{#if currentTrackUri }}
        {{ spotify-track data=currentTrackData queueable=false}}
      {{/if}}
    </ul>

    <div class="navigation-tools">
      <div class="search-bar">
        <form {{action "search"}} class="form">
          {{input value=query type="search" placeholder="Enter Search" }}
          <button type="submit" class="ion-search"></button>
        </form>
      </div>
    </div>
  </div>
</header>

<div id="container">
  {{outlet}}
</div>
