<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    {{#link-to 'application' class="logo"}}
      <i class="ion-headphone"></i> Spotbot
    {{/link-to}}
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
        <li class="nav-link">
          {{#if playing}}
            <button class="ion-pause" {{ action "pause"}}></button>
          {{else}}
            <button class="ion-play" {{ action "play"}}></button>
          {{/if}}
          <button class="ion-ios-skipforward" {{ action "next"}}></button>

          <button {{bind-attr class=":ion-shuffle shuffle:active"}} {{ action "shuffle"}}></button>
        </li>
      </ul>
    </nav>

    <ul class="current-track">
      {{#if currentTrackData }}
        {{ spotify-track data=currentTrackData queueable=false}}
      {{else}}
        <li><em>No track</em></li>
      {{/if}}
    </ul>

    <div class="navigation-tools">
      <div class="search-bar">
        <form {{action "search" on="submit"}} class="form">
          {{input value=query type="search" placeholder="Enter Search" }}
          <button type="submit" class="ion-search"></button>
        </form>
      </div>
    </div>
  </div>
</header>

<div id="container">
  {{outlet}}
</div>

<div id="footer">
  Build with <em><span>love</span></em> by <a href="http://himynameisjonas.net">Jonas Brusman</a>
</div>

