<md-content>
  {{#md-toolbar class="topbar"}}
    <div class="md-toolbar-tools" layout-wrap>
      <h1>
        {{link-to "Spotbot" "application" }}
      </h1>
      <div class="md-button-group">
        {{#if playing}}
          {{#md-button class="md-icon-button" action="pause"}}
            <md-icon>{{material-design-icon name='pause'}}</md-icon>
          {{/md-button}}
        {{else}}
          {{#md-button class="md-icon-button" action="play"}}
            <md-icon>{{material-design-icon name='play-arrow'}}</md-icon>
          {{/md-button}}
        {{/if}}

        {{#md-button class="md-icon-button" action="next"}}
          <md-icon>{{material-design-icon name='skip-next'}}</md-icon>
        {{/md-button}}
        {{#md-button class="md-icon-button" action="shuffle"}}
          <md-icon class="{{if shuffle 'md-accent'}}">{{material-design-icon name='shuffle'}}</md-icon>
        {{/md-button}}
      </div>
      <span flex></span>
      <h2>
        {{#if currentTrackData }}
          {{#spotify-track data=currentTrackData as |track|}}
            {{track.name}} – {{track.artistNames}}
          {{/spotify-track}}
        {{else}}
          <em>No track</em>
        {{/if}}
      </h2>
      <span flex></span>
    </div>
  {{/md-toolbar}}
</md-content>

<md-content ng-view="" md-scroll-y="" flex="" layout-padding="" class="md-default-theme">
  <div layout="row" layout-sm="column" layout-margin>
    <section flex class="search md-whiteframe-z3" layout="column">
      <md-content class="md-padding" layout="row" layout-sm="column">

        {{#md-input-container flex="" value=query}}
          <label>
            <md-icon>{{material-design-icon name='search'}}</md-icon>
            Search
          </label>
          {{md-input }}
        {{/md-input-container}}
        <span flex>
          {{#if session.isWorking}}
            One sec while we get you signed in...
          {{else}}
            {{#if session.isAuthenticated}}
              Signed in as {{session.currentUser.display_name}}
              {{link-to 'Playlists' 'playlists'}}
            {{else}}
              <a href="#" {{action 'signInViaSpotify'}}>
                Sign In with Spotify
              </a>
            {{/if}}
          {{/if}}
        </span>
      </md-content>
    </section>
  </div>

  {{outlet}}
</md-content>
