<h3>Search</h3>
{{input value=query placeholder="Search for tracks…" action='search'}}

<ul>
  {{#each track in controller itemController='track'}}
    <li>
      <img style="max-width: 50px;" {{bind-attr src=track.imageUrl}}>
      {{track.artistNames}} - {{track.title}}
      {{track.formattedDuration}}
      <button {{action 'enqueue'}}>Enqueue</button>
    </li>
  {{/each}}
</ul>
