
<div class="row">
  <div class="col-xs-12">
    <h3>Search result</h3>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-6">
    <h4>Tracks</h4>
    <ul class="media-list">
      {{#each track in tracks itemController='track'}}
        {{view 'track' canEnqueue=true}}
      {{/each}}
    </ul>
  </div>
  <div class="col-xs-12 col-sm-6">
    <h4>Albums</h4>
    <ul class="media-list">
      {{#each album in albums itemController='album'}}
        <li class="media track">
          <div {{bind-attr class=":album-cover :pull-left album.enqueueing:enqueueing"}}>
            <img class="media-object" {{bind-attr src=album.imageUrl}}>
            <div class="enqueue">
              <i {{bind-attr class=":fa album.enqueueing:fa-spinner:fa-plus album.enqueueing:fa-spin"}} {{action 'enqueue'}}></i>
            </div>
          </div>
          <div class="media-body">
            <h4 class="media-heading">{{album.name}}</h4>
            <p>
              <strong>{{album.artistNames}}</strong>
            </p>
          </div>
        </li>
      {{/each}}
    </ul>
  </div>
</div>
