<li class="media track">
  <div class="album-cover pull-left">
    <img class="media-object" {{bind-attr src=track.imageUrl}}>
    {{#if view.canEnqueue}}
      <i class="enqueue fa fa-plus" {{action 'enqueue'}}></i>
    {{/if}}
  </div>
  <div class="media-body">
    <h4 class="media-heading">{{track.title}} <small>{{seconds-to-time track.duration}}</small></h4>
    <p>
      <strong>{{track.artistNames}}</strong><br/>
      {{track.albumTitle}}<br/>
    </p>
  </div>
</li>
