<li {{bind-attr class=":media :track track.enqueueing:enqueueing track.removing:removing"}}>
  <div class="album-cover pull-left">
    <img class="media-object" {{bind-attr src=track.imageUrl}}>
    {{#if view.canEnqueue}}
      <div class="enqueue" {{action 'enqueue'}}>
        <i {{bind-attr class=":fa :fa-plus track.enqueueing:fa-spin"}}></i>
      </div>
    {{/if}}
  </div>
  <div class="media-body">
    <h4 class="media-heading">{{track.title}} <small>{{seconds-to-time track.duration}}</small></h4>
    <p>
      <strong>{{track.artistNames}}</strong><br/>
      {{track.albumTitle}}<br/>
    </p>
  </div>
</li>
